@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="bindingcontainer">
  <button data-bind="click : doAjax">Do Ajax</button>
</div>

<script type="text/javascript">
  Continuations.eventAggregator.subscribe('TestMessage', function (ev, data) {
    console.log(data.value);
  });
  (function ($, ko) {
    var model = {
      doAjax: function() {
        $.ajaxJson('/home/test', JSON.stringify({ message: 'Hello World!' }));
      }
    };
    
    ko.applyBindings(model, $('#bindingcontainer')[0]);
  }(jQuery, ko));
</script>